body{
    background-color: #000 !important;
}

h1, h2, p {
    font-family: 'Lexend Mega', sans-serif !important;
    color: #FFF !important;
    text-transform: uppercase;
    overflow: auto !important;
}

.intro {
    font-family: 'Lexend Mega', sans-serif;
    color: #ff2e51;
    text-transform: uppercase;
    overflow:auto;
}


#mc_embed_signup{
    background:rgba(255, 255, 255, 0);
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
    width:100%;}

.mainnav{
    font-family: 'Lexend Mega', sans-serif !important;
    display: inline-block;
    font-size: 18px;
    padding-top: 30px;
    
}

.mainnav a {
     color:  #ff2e51;
     padding: 10px;
}

.mainnav a:hover {
    color: #FFF;
    
}
